/*
.gallery {
  padding: 40px;
}
.title {
  text-align: center;
}
.list {
  list-style-type: none;
  min-height: 75vh;
  min-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listItem {
  display: inline-block;
}
.MessagePasDeChat {
  text-align: center;
  width: 100%;
}
.SpinnerDiv {
  display: flex;
  justify-content: center;
}
.card-chat {
   max-height:    350px;
   margin-top:    15px;
   margin-bottom: 15px;
   width:         18%;
   min-width:     200px;
   max-width:     410px;
}
.card-media-chat {
	min-height: 200px;
}
*/